<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.career.dao.CompReviewDao">
	<select id="searchReview" parameterType="int" resultType="ReviewDto">
		select MNO, CNO, SCORE, TITLE, RCONTENTS, DATE from REVIEW where MNO=#{mno}
	</select>
	<select id="searchReviewComp" parameterType="int" resultType="ReviewDto">
		select MNO, CNO, SCORE, TITLE, RCONTENTS, DATE from REVIEW where CNO=#{cno}
	</select>
	<insert id="insertOne" parameterType="ReviewDto">
		insert into REVIEW values(null, #{cno}, #{mno}, #{score}, #{contents}, #{title}, sysdate())
	</insert>
	<update id="updateOne" parameterType="ReviewDto">
		update REVIEW set SCORE=#{score}, RCONTENTS=#{contents}, TITLE=#{title} where MNO=#{mno}
	</update>
	<select id="searchReviewCompPage" parameterType="StartEnd" resultType="ReviewDto">
		select *
		from REVIEW
		where cno = #{cno}
		order by REVIEWNO DESC
		limit #{startNo}, #{countPerPage}
	</select>
	<select id="getTotal" parameterType="int" resultType="int">
		SELECT COUNT(REVIEWNO) FROM REVIEW where cno=#{cno}
	</select>
	<select id="getAVG" parameterType="int" resultType="float">
		select IFNULL(AVG(SCORE),0) from REVIEW where cno=#{cno}
	</select>
	<delete id="deleteOne" parameterType="int">
		delete from REVIEW where reviewno=#{reviewno}
	</delete>
</mapper>