<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.career.dao.WishlistDao">
	<select id="selectAll" parameterType="WishlistDto"
		resultType="WishlistDto">
		select wno, mno, cno from WISHLIST where mno=#{mno} order by wno desc
	</select>
	<select id="findScrap" parameterType="WishlistDto"
		resultType="WishlistDto">
		select wno, mno, cno from WISHLIST where mno=#{mno} and
		cno=#{cno}
	</select>
	<insert id="insertOne" parameterType="WishlistDto">
		insert into WISHLIST
		values(NULL,#{mno},#{cno})
	</insert>
	<delete id="deleteOne" parameterType="WishlistDto">
		delete from WISHLIST where
		mno=#{mno} and cno=#{cno}
	</delete>
<!-- 	<select id="selectAllWish" parameterType="StartEnd"
		resultType="WishlistDto">
		select R1.* FROM(
		SELECT *
		FROM WISHLIST order by WNO DESC
		) R1
		LIMIT #{endNo, jdbcType=INTEGER} OFFSET #{startNo, jdbcType=INTEGER}
	</select> -->
	<select id="getTotal" resultType="int">
		SELECT COUNT(WNO) FROM WISHLIST
	</select>
</mapper>